<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  {% block title_block %}{% endblock %}
</head>
<body>
  <div id="app">
    <v-app>
      <v-toolbar app fixed flat clipped-left clipped-right color="teal lighten-2" dark>
        <v-toolbar-title><v-icon>whatshot</v-icon>Teemo</v-toolbar-title>
        <div style="width:20vw"></div>
        <v-text-field append-icon="search" label="Search" hide-details single-line style="width:40vw"></v-text-field>
        <div style="width:10vw"></div>
        <v-toolbar-items right>
          <v-btn flat href="{%url 'user'%}"><v-icon left>account_circle</v-icon>User</v-btn>
          <v-btn flat href="{%url 'cart'%}"><v-icon left>shopping_basket</v-icon>Cart</v-btn>
          <v-btn flat href="{%url 'contact'%}"><v-icon left>perm_phone_msg</v-icon>Contact</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      {% block content %}{% endblock %}
    </v-app>
  </div>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  {% block script_block %}
  {% endblock %}
  </body>
</html>
