<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>{% block title_block %}ProductIO{% endblock %}</title>
</head>
<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer
        clipped
        right
        width="250"
        permanent
        stateless
        v-model="drawer"
        floating
        app
      >
        <v-list>
          <v-list-tile  style="height:10vh">
            <v-list-tile-content  style="height:10vh">
              <v-card style="width:100%;">
                  <v-card-title>
                    <h1>Recommendations</h1>
                  </v-card-title>
                </v-card>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>

        <v-list two-line style="padding-top:10vh">
          <v-list-tile style="height:40vh">
            <v-list-tile-content style="height:40vh">
              <v-card style="width:100%;">
                <v-card-media src="images/jeans.jpg" contain height="30vh"></v-card-media>
                <v-card-title>
                  Buy these jeanse!
                </v-card-title>
              </v-card>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile style="height:40vh">
            <v-list-tile-content style="height:40vh">
              <v-card style="width:100%;">
                <v-card-media src="{% static 'images/socks.jpg' %}" contain height="30vh"></v-card-media>
                <v-card-title>
                  Buy these swacks!
                </v-card-title>
              </v-card>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile style="height:40vh">
            <v-list-tile-content style="height:40vh">
              <v-card style="width:100%;">
                <v-card-media src="{% static 'images/socks.jpg' %}" contain height="30vh"></v-card-media>
                <v-card-title>
                  Buy these swacks!
                </v-card-title>
              </v-card>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile style="height:40vh">
            <v-list-tile-content style="height:50vh">
              <v-card style="width:100%;">
                <v-card-media src="{% static 'images/doctah.jpg' %}" contain height="30vh"></v-card-media>
                <v-card-title>
                  YOU WON'T BELIEVE WHAT UHS DOES WITH THEIR HAMSTERS!!!!
                </v-card-title>
              </v-card>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar app fixed flat clipped-left clipped-right>
        <!--mv-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon -->
        <v-toolbar-title><v-icon>whatshot</v-icon> Teemo</v-toolbar-title>
        <div style="width:20vw"></div>
        <v-text-field append-icon="search" label="Search" hide-details single-line style="width:40vw"></v-text-field>
        <div style="width:10vw"></div>
        <v-toolbar-items right>
          <v-btn flat><v-icon left>account_circle</v-icon>User</v-btn>
          <v-btn flat><v-icon left>shopping_basket</v-icon>Cart</v-btn>
          <v-btn flat><v-icon left>perm_phone_msg</v-icon>Contact</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-flex text-xs-center>
            <v-card class="elevation-0 transparent">
                <v-card-text>
                  {% Account Name %}
                </v-card-text>
          </v-flex>
        </v-layout>
        <v-layout row wrap>
            {% for item in history_list %}
            <v-flex xs12 @click="productRoute('{{ item.id }}')">
              <v-card class="item-inner">
                <v-card-text style="height:10vh">
                  <v-layout>
                    <v-flex xs4 style="margin-left:-10%;">
                      <div class="jeans-card"></div>
                    </v-flex>
                    <v-flex xs8>
                      <h1>{{item.name}}</h1>
                      <p>{{item.price}}</p>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
            {% endfor %}
            <v-flex xs4>
              {% if page_obj.has_previous %}
                <a href="/home?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              {% if page_obj.has_next %}
                <a href="/home?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </v-flex>
          </v-layout>
      </v-container>
    </v-content>
    </v-app>
  </div>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
      data: function (){
        return {
          hAndM: false,
          americanEagle: false,
          hollister: false,
          clothingTypeDrawer: true,
          genderDrawer: true,
          sizeDrawer: true,
          storesDrawer: true,
          priceRange: 0,
          data_test: 'Hello World Test',
          drawer: true,
          items: [
            { title: 'Home', icon: 'dashboard' },
            { title: 'About', icon: 'question_answer' }
          ],
          right: null
          }
        },
        methods: {
          productRoute (itemID) {
            window.location = '/product/' + itemID
          }
        }
      })
</script>
<style>
  .item-card{
    margin: 10px 0 0 0 ;
  }
  .item-inner {
    height: 300px;
  }
  .jeans-card {
    width:100%;
    height:100%;
    background-image: url('/static/images/jeans.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>
  {% block script_block %}
  {% endblock %}
</body>
</html>
